<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ '/assets/js/jquery.terminal.min.js' | relative_url }}"></script>
    <link rel="stylesheet" href="{{ '/assets/css/jquery.terminal.min.css' | relative_url }}">
    <script type="module" src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
